<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	<resultMap type="com.kh.finalProject.board.model.vo.Board" id="boardResultSet">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="writer" column="WRITER"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="boardType" column="BOARD_TYPE"/>
		<result property="writeDept" column="WRITE_DEPT"/>
		<result property="deadLine" column="DEADLINE"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="count" column="COUNT"/>
	</resultMap>
	
	<!-- 게시글 수 조회  -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS='Y' AND BOARD_TYPE = '일반공지'
	</select>
	
	<!-- 페이징 처리 된 목록 조회 -->
	<select id="selectnNoticeList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		JOIN NORMALNOTICE A ON(B.BOARD_NO = A.BOARD_NO)
		WHERE B.STATUS = 'Y' AND B.BOARD_TYPE = '일반공지'
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<update id="updateBoardCount" parameterType="_int">
		UPDATE BOARD
		SET COUNT = (SELECT COUNT FROM BOARD WHERE BOARD_NO = #{boardNo}) + 1
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<select id="selectBoardOne" resultMap="boardResultSet" parameterType="_int">
		SELECT B.BOARD_NO, B.MEMBER_ID, B.TITLE, B.CONTENT, B.WRITER, B.ENROLL_DATE, B.STATUS, B.BOARD_TYPE, B.COUNT, N.WRITE_DEPT, N.DEADLINE
		FROM BOARD B
		JOIN EMPLOYEE E ON(B.MEMBER_ID = E.EMPLOYEE_NO)
		JOIN E_DEPARTMENT D ON(E.EDEPT_CODE = D.EDEPT_CODE)
		JOIN NORMALNOTICE N ON(B.BOARD_NO = N.BOARD_NO)
		WHERE B.BOARD_NO = #{boardNo} AND B.STATUS = 'Y'
	</select>	
	
	<insert id="insertnNotice">
		INSERT INTO BOARD
		VALUES(SEQ_BOARDNO.NEXTVAL, #{memberId}, #{title}, #{content}, #{writer}, SYSDATE, 'Y', '일반공지', DEFAULT)
	</insert>
	
	<insert id="insertNormalNotice">
		INSERT INTO NORMALNOTICE
		VALUES(SEQ_BOARDNO.CURRVAL, #{writeDept}, #{deadLine})
	</insert>
	
	<update id="deleteNotice">
		UPDATE BOARD SET STATUS = 'N' WHERE BOARD_NO = #{boardNo}
	</update>
	
	<select id="selectSearchResultCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		JOIN NORMALNOTICE N ON(B.BOARD_NO = N.BOARD_NO)
		WHERE B.STATUS = 'Y' 
		AND B.BOARD_TYPE = '일반공지'
		<choose>
			<when test="writer != null">
				AND B.WRITER = #{writer}
			</when>
			<when test="title != null">
				AND B.TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND N.WRITE_DEPT = #{writeDept}
			</otherwise>
		</choose>		
	</select>
	
	<select id="selectSearchResultList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		JOIN NORMALNOTICE N ON(B.BOARD_NO = N.BOARD_NO)
		WHERE B.STATUS = 'Y'
		AND B.BOARD_TYPE = '일반공지'
		<choose>
			<when test="writer != null">
				AND B.WRITER = #{writer}
			</when>
			<when test="title != null">
				AND B.TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND N.WRITE_DEPT = #{writeDept}
			</otherwise>
		</choose>
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<update id="updatenNotice">
		UPDATE BOARD 
		SET TITLE = #{title}, CONTENT = #{content} 
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="updateNormalNotice">
		UPDATE NORMALNOTICE
		SET DEADLINE = #{deadLine}
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 아래부터 장학공지 -->
	<select id="selectsNoticeListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS='Y' AND BOARD_TYPE = '장학공지'
	</select>
	
	<select id="selectsNoticeList" resultMap="boardResultSet">
		SELECT B.BOARD_NO, B.MEMBER_ID, B.TITLE, B.CONTENT, B.WRITER, B.ENROLL_DATE, B.STATUS, B.BOARD_TYPE, A.WRITE_DEPT, A.DEADLINE, B.COUNT
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		JOIN SCHOLNOTICE A ON(B.BOARD_NO = A.BOARD_NO)
		WHERE B.STATUS = 'Y' AND B.BOARD_TYPE = '장학공지'
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="selectsNoticeOne" resultMap="boardResultSet" parameterType="_int">
		SELECT B.BOARD_NO, B.MEMBER_ID, B.TITLE, B.CONTENT, B.WRITER, B.ENROLL_DATE, B.STATUS, B.BOARD_TYPE, B.COUNT, N.WRITE_DEPT, N.DEADLINE
		FROM BOARD B
		JOIN EMPLOYEE E ON(B.MEMBER_ID = E.EMPLOYEE_NO)
		JOIN E_DEPARTMENT D ON(E.EDEPT_CODE = D.EDEPT_CODE)
		JOIN SCHOLNOTICE N ON(B.BOARD_NO = N.BOARD_NO)
		WHERE B.BOARD_NO = #{boardNo} AND B.STATUS = 'Y'
	</select>
	
	<insert id="insertsNotice">
		INSERT INTO BOARD
		VALUES(SEQ_BOARDNO.NEXTVAL, #{memberId}, #{title}, #{content}, #{writer}, SYSDATE, 'Y', '장학공지', DEFAULT)
	</insert>
	
	<insert id="insertscholNotice">
		INSERT INTO SCHOLNOTICE
		VALUES(SEQ_BOARDNO.CURRVAL, #{writeDept}, #{deadLine})
	</insert>
	
	<update id="updatesNotice">
		UPDATE BOARD 
		SET TITLE = #{title}, CONTENT = #{content} 
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="updateScholNotice">
		UPDATE SCHOLNOTICE
		SET DEADLINE = #{deadLine}
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<select id="SearchsNoticeResultCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		JOIN SCHOLNOTICE N ON(B.BOARD_NO = N.BOARD_NO)
		WHERE B.STATUS = 'Y' 
		AND B.BOARD_TYPE = '장학공지'
		<choose>
			<when test="writer != null">
				AND B.WRITER = #{writer}
			</when>
			<when test="title != null">
				AND B.TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND N.WRITE_DEPT = #{writeDept}
			</otherwise>
		</choose>		
	</select>
	
	<select id="SearchsNoticeResultList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		JOIN SCHOLNOTICE N ON(B.BOARD_NO = N.BOARD_NO)
		WHERE B.STATUS = 'Y'
		AND B.BOARD_TYPE = '장학공지'
		<choose>
			<when test="writer != null">
				AND B.WRITER = #{writer}
			</when>
			<when test="title != null">
				AND B.TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND N.WRITE_DEPT = #{writeDept}
			</otherwise>
		</choose>
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<!-- 여기부터 학사일정 -->
	<select id="selectacNoticeCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS='Y' AND BOARD_TYPE = '학사일정'
	</select>
	
	<select id="selectacNoticeList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		JOIN SCHOOLSCHEDULE A ON(B.BOARD_NO = A.BOARD_NO)
		WHERE B.STATUS = 'Y' AND B.BOARD_TYPE = '학사일정'
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="SearchacNoticeResultCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		JOIN SCHOOLSCHEDULE N ON(B.BOARD_NO = N.BOARD_NO)
		WHERE B.STATUS = 'Y' 
		AND B.BOARD_TYPE = '학사일정'
		<choose>
			<when test="writer != null">
				AND B.WRITER = #{writer}
			</when>
			<when test="title != null">
				AND B.TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND N.WRITE_DEPT = #{writeDept}
			</otherwise>
		</choose>		
	</select>
	
	<select id="SearchacNoticeResultList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		JOIN SCHOOLSCHEDULE N ON(B.BOARD_NO = N.BOARD_NO)
		WHERE B.STATUS = 'Y'
		AND B.BOARD_TYPE = '학사일정'
		<choose>
			<when test="writer != null">
				AND B.WRITER = #{writer}
			</when>
			<when test="title != null">
				AND B.TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND N.WRITE_DEPT = #{writeDept}
			</otherwise>
		</choose>
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="selectacNoticeMonthCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		JOIN SCHOOLSCHEDULE N ON(B.BOARD_NO = N.BOARD_NO)
		WHERE B.STATUS = 'Y' 
		AND B.BOARD_TYPE = '학사일정'
		AND TO_CHAR(START_DATE, 'YYYY/MM') = #{month}
	</select>
	
	<select id="selectacNoticeMonthList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		JOIN SCHOOLSCHEDULE N ON(B.BOARD_NO = N.BOARD_NO)
		WHERE B.STATUS = 'Y' 
		AND B.BOARD_TYPE = '학사일정'
		AND TO_CHAR(START_DATE, 'YYYY/MM') = #{month}
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="selectacNoticeOne" resultMap="boardResultSet" parameterType="_int">
		SELECT B.BOARD_NO, B.MEMBER_ID, B.TITLE, B.CONTENT, B.WRITER, B.ENROLL_DATE, B.STATUS, B.BOARD_TYPE, B.COUNT, N.WRITE_DEPT, N.DEADLINE, N.START_DATE, N.END_DATE
		FROM BOARD B
		JOIN EMPLOYEE E ON(B.MEMBER_ID = E.EMPLOYEE_NO)
		JOIN E_DEPARTMENT D ON(E.EDEPT_CODE = D.EDEPT_CODE)
		JOIN SCHOOLSCHEDULE N ON(B.BOARD_NO = N.BOARD_NO)
		WHERE B.BOARD_NO = #{boardNo} AND B.STATUS = 'Y'
	</select>
	
	<update id="updateacNotice">
		UPDATE BOARD 
		SET TITLE = #{title}, CONTENT = #{content} 
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="updateSchoolSchedule">
		UPDATE SCHOOLSCHEDULE
		SET DEADLINE = #{deadLine}, START_DATE = TO_DATE(#{startDate}, 'YY/MM/DD'), END_DATE = TO_DATE(#{endDate}, 'YY/MM/DD')
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<insert id="insertacNotice">
		INSERT INTO BOARD
		VALUES(SEQ_BOARDNO.NEXTVAL, #{memberId}, #{title}, #{content}, #{writer}, SYSDATE, 'Y', '학사일정', DEFAULT)
	</insert>
	
	<insert id="insertSchoolSchedule">
		INSERT INTO SCHOOLSCHEDULE
		VALUES(SEQ_BOARDNO.CURRVAL, #{startDate}, #{endDate}, #{deadLine}, #{writeDept})
	</insert>
	
	<!-- 여기부터 교내외행사   -->
	<select id="selecteNoticeCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS='Y' AND BOARD_TYPE = '교내외행사'
	</select>
	
	<select id="selecteNoticeList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		JOIN EVENT A ON(B.BOARD_NO = A.BOARD_NO)
		WHERE B.STATUS = 'Y' AND B.BOARD_TYPE = '교내외행사'
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="SearcheNoticeResultCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		JOIN EVENT N ON(B.BOARD_NO = N.BOARD_NO)
		WHERE B.STATUS = 'Y' 
		AND B.BOARD_TYPE = '교내외행사'
		<choose>
			<when test="writer != null">
				AND B.WRITER = #{writer}
			</when>
			<when test="title != null">
				AND B.TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND N.WRITE_DEPT = #{writeDept}
			</otherwise>
		</choose>		
	</select>
	
	<select id="SearcheNoticeResultList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		JOIN EVENT N ON(B.BOARD_NO = N.BOARD_NO)
		WHERE B.STATUS = 'Y'
		AND B.BOARD_TYPE = '교내외행사'
		<choose>
			<when test="writer != null">
				AND B.WRITER = #{writer}
			</when>
			<when test="title != null">
				AND B.TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND N.WRITE_DEPT = #{writeDept}
			</otherwise>
		</choose>
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="selecteNoticeOne" resultMap="boardResultSet" parameterType="_int">
		SELECT B.BOARD_NO, B.MEMBER_ID, B.TITLE, B.CONTENT, B.WRITER, B.ENROLL_DATE, B.STATUS, B.BOARD_TYPE, B.COUNT, N.WRITE_DEPT, N.DEADLINE, N.START_DATE, N.END_DATE
		FROM BOARD B
		JOIN EMPLOYEE E ON(B.MEMBER_ID = E.EMPLOYEE_NO)
		JOIN E_DEPARTMENT D ON(E.EDEPT_CODE = D.EDEPT_CODE)
		JOIN EVENT N ON(B.BOARD_NO = N.BOARD_NO)
		WHERE B.BOARD_NO = #{boardNo} AND B.STATUS = 'Y'
	</select>
	
	<insert id="inserteNotice">
		INSERT INTO BOARD
		VALUES(SEQ_BOARDNO.NEXTVAL, #{memberId}, #{title}, #{content}, #{writer}, SYSDATE, 'Y', '교내외행사', DEFAULT)
	</insert>
	
	<insert id="insertEvent">
		INSERT INTO EVENT
		VALUES(SEQ_BOARDNO.CURRVAL, #{writeDept}, #{startDate}, #{endDate}, #{deadLine})
	</insert>
	
	<update id="updateeNotice">
		UPDATE BOARD 
		SET TITLE = #{title}, CONTENT = #{content} 
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="updateEvent">
		UPDATE EVENT
		SET DEADLINE = #{deadLine}, START_DATE = TO_DATE(#{startDate}, 'YY/MM/DD'), END_DATE = TO_DATE(#{endDate}, 'YY/MM/DD')
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 여기부터 자유게시판 -->
	<select id="selectfreeBoardCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS='Y' AND BOARD_TYPE = '자유게시판'
	</select>
	
	<select id="selectfreeBoardList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		WHERE B.STATUS = 'Y' AND B.BOARD_TYPE = '자유게시판'
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="SearchefreeBoardResultCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		WHERE B.STATUS = 'Y' 
		AND B.BOARD_TYPE = '자유게시판'
		<choose>
			<when test="writer != null">
				AND B.WRITER = #{writer}
			</when>
			<when test="title != null">
				AND B.TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND N.WRITE_DEPT = #{writeDept}
			</otherwise>
		</choose>		
	</select>
	
	<select id="SearchfreeBoardResultList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		WHERE B.STATUS = 'Y' 
		AND B.BOARD_TYPE = '자유게시판'
		<choose>
			<when test="writer != null">
				AND B.WRITER = #{writer}
			</when>
			<when test="title != null">
				AND B.TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND N.WRITE_DEPT = #{writeDept}
			</otherwise>
		</choose>
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="selectfreeBoardOne" resultMap="boardResultSet" parameterType="_int">
		SELECT *
		FROM BOARD B		
		WHERE B.BOARD_NO = #{boardNo} AND B.STATUS = 'Y'
	</select>
	
	<insert id="insertfreeBoard">
		INSERT INTO BOARD
		VALUES(SEQ_BOARDNO.NEXTVAL, #{memberId}, #{title}, #{content}, #{writer}, SYSDATE, 'Y', '자유게시판', DEFAULT)
	</insert>
	
	<update id="updatefreeBoard">
		UPDATE BOARD 
		SET TITLE = #{title}, CONTENT = #{content} 
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="deletefreeBoard">
		UPDATE BOARD SET STATUS = 'N' WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 여기부터 칭찬합시다 -->
	<select id="selectpraiseBoardCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS='Y' AND BOARD_TYPE = '칭찬합시다'
	</select>
	
	<select id="selectpraiseBoardList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		WHERE B.STATUS = 'Y' AND B.BOARD_TYPE = '칭찬합시다'
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="SearchepraiseBoardResultCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		WHERE B.STATUS = 'Y' 
		AND B.BOARD_TYPE = '칭찬합시다'
		<choose>
			<when test="writer != null">
				AND B.WRITER = #{writer}
			</when>
			<when test="title != null">
				AND B.TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND N.WRITE_DEPT = #{writeDept}
			</otherwise>
		</choose>		
	</select>
	
	<select id="SearchpraiseBoardResultList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		WHERE B.STATUS = 'Y' 
		AND B.BOARD_TYPE = '칭찬합시다'
		<choose>
			<when test="writer != null">
				AND B.WRITER = #{writer}
			</when>
			<when test="title != null">
				AND B.TITLE LIKE '%' || #{title} || '%'
			</when>
			<otherwise>
				AND N.WRITE_DEPT = #{writeDept}
			</otherwise>
		</choose>
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="selectpraiseBoardOne" resultMap="boardResultSet" parameterType="_int">
		SELECT *
		FROM BOARD B		
		WHERE B.BOARD_NO = #{boardNo} AND B.STATUS = 'Y'
	</select>
	
	<insert id="insertpraiseBoard">
		INSERT INTO BOARD
		VALUES(SEQ_BOARDNO.NEXTVAL, #{memberId}, #{title}, #{content}, #{writer}, SYSDATE, 'Y', '칭찬합시다', DEFAULT)
	</insert>
	
	<update id="updatepraiseBoard">
		UPDATE BOARD 
		SET TITLE = #{title}, CONTENT = #{content} 
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="deletepraiseBoard">
		UPDATE BOARD SET STATUS = 'N' WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 여기부터 학생 내 게시물 조회 -->
	<select id="searchMyBoardListCount" resultType="_int" parameterType="java.lang.String">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS='Y' AND MEMBER_ID = #{memberId}
	</select>
	
	<select id="searchMyBoardList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		WHERE B.STATUS = 'Y' AND B.MEMBER_ID = #{memberId}
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="searchMyBoardSearchListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		WHERE B.STATUS = 'Y' AND B.MEMBER_ID = #{memberId}
		<choose>
			<when test="all != null">
				AND B.COUNT >= 0
			</when>
			<when test="praise != null">
				AND B.BOARD_TYPE = '칭찬합시다'
			</when>
			<otherwise>
				AND B.BOARD_TYPE = '자유게시판'
			</otherwise>
		</choose>		
	</select>
	
	<select id="searchMyBoardSearchList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		WHERE B.STATUS = 'Y' AND B.MEMBER_ID = #{memberId}
		<choose>
			<when test="all != null">
				AND B.COUNT >= 0
			</when>
			<when test="praise != null">
				AND B.BOARD_TYPE = '칭찬합시다'
			</when>
			<otherwise>
				AND B.BOARD_TYPE = '자유게시판'
			</otherwise>
		</choose>	
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<update id="searchMyBoardDelete" parameterType="java.lang.String">
		UPDATE BOARD SET STATUS = 'N' WHERE BOARD_NO = #{boardNo}
	</update>
	
	
</mapper>