<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	<resultMap type="com.kh.finalProject.board.model.vo.Board" id="boardResultSet">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="writer" column="WRITER"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="boardType" column="BOARD_TYPE"/>
		<result property="writeDept" column="WRITE_DEPT"/>
		<result property="deadLine" column="DEADLINE"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="count" column="COUNT"/>
	</resultMap>
	
	<!-- 게시글 수 조회  -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS='Y'
	</select>
	
	<!-- 페이징 처리 된 목록 조회 -->
	<select id="selectnNoticeList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON(B.MEMBER_ID = M.MEMBER_ID)
		JOIN NORMALNOTICE A ON(B.BOARD_NO = A.BOARD_NO)
		WHERE B.STATUS = 'Y' AND B.BOARD_TYPE = '일반공지'
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<update id="updateBoardCount" parameterType="_int">
		UPDATE BOARD
		SET COUNT = (SELECT COUNT FROM BOARD WHERE BOARD_NO = #{boardNo}) + 1
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<select id="selectBoardOne" resultMap="boardResultSet" parameterType="_int">
		SELECT B.BOARD_NO, B.MEMBER_ID, B.TITLE, B.CONTENT, B.WRITER, B.ENROLL_DATE, B.STATUS, B.BOARD_TYPE, B.COUNT, N.WRITE_DEPT, N.DEADLINE
		FROM BOARD B
		JOIN EMPLOYEE E ON(B.MEMBER_ID = E.EMPLOYEE_NO)
		JOIN E_DEPARTMENT D ON(E.EDEPT_CODE = D.EDEPT_CODE)
		JOIN NORMALNOTICE N ON(B.BOARD_NO = N.BOARD_NO)
		WHERE B.BOARD_NO = #{boardNo} AND B.STATUS = 'Y'
	</select>	
</mapper>