<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="courseRegistration">
	<resultMap
		type="com.kh.finalProject.employee.classManagement.model.vo.OpenSubject"
		id="courseRegistrationResultSet">
		<id property="openSubCode" column="OPENSUB_CODE" />
		<result property="subName" column="SUB_NAME" />
		<result property="sdeptName" column="SDEPT_NAME" />
		<result property="professorName" column="MEMBER_KNAME" />
		<result property="professorNo" column="PROFESSOR_NO" />
		<result property="subGrade" column="SUB_GRADE" />
		<result property="completeType" column="COMPLETE_TYPE" />
		<result property="studentMax" column="STUDENT_MAX" />
		<result property="roomName" column="ROOM_NAME" />
		<result property="buildingName" column="BUILDING_NAME" />
		<result property="dayInfo" column="DAY_INFO" />
		<result property="timeInfo" column="TIME_INFO" />
		<result property="enrolType" column="ENROL_TYPE" />
		<result property="studentNo" column="STUDENT_NO" />
		<result property="studentCount" column="STUDENT_COUNT" />
		<result property="applyType" column="APPLY_TYPE" />
		<result property="closeCheck" column="CLOSE_CHECK" />
		<result property="closeReason" column="CLOSE_REASON" />
		<result property="openYear" column="OPEN_YEAR" />
		<result property="openSemester" column="OPEN_SEMESTER" />
	</resultMap>



	<select id="selectOpenSubjectList"
		resultMap="courseRegistrationResultSet">
		SELECT OPENSUB_CODE, SUB_NAME, SDEPT_NAME, MEMBER_KNAME,
		SUB_GRADE, STUDENT_COUNT,
		COMPLETE_TYPE, STUDENT_MAX, ROOM_NAME, BUILDING_NAME, DAY_INFO, TIME_INFO
		FROM OPEN_SUBJECT OS
		JOIN SUBJECT S ON(OS.OPENSUB_CODE = S.SUB_CODE)
		JOIN SDEPARTMENT SD ON(S.SDEPT_CODE = SD.SDEPT_CODE) 
		JOIN MEMBER M ON(OS.PROFESSOR_NO = M.MEMBER_ID)
		JOIN ROOM R ON(OS.ROOM_CODE = R.ROOM_CODE)
		JOIN BUILDING B ON(R.BUILDING_CODE = B.BUILDING_CODE)
		WHERE OS.ENROL_TYPE = 1
	</select>
	<select id="selectPreliminaryOpenSubjectList"
		resultMap="courseRegistrationResultSet">
		SELECT OPENSUB_CODE, SUB_NAME, SDEPT_NAME, MEMBER_KNAME,
		SUB_GRADE, STUDENT_COUNT,
		COMPLETE_TYPE, STUDENT_MAX, ROOM_NAME, BUILDING_NAME, DAY_INFO, TIME_INFO
		FROM OPEN_SUBJECT OS
		JOIN SUBJECT S ON(OS.OPENSUB_CODE = S.SUB_CODE)
		JOIN SDEPARTMENT SD ON(S.SDEPT_CODE = SD.SDEPT_CODE) 
		JOIN MEMBER M ON(OS.PROFESSOR_NO = M.MEMBER_ID)
		JOIN ROOM R ON(OS.ROOM_CODE = R.ROOM_CODE)
		JOIN BUILDING B ON(R.BUILDING_CODE = B.BUILDING_CODE)
		WHERE OS.ENROL_TYPE = 2
	</select>
	<update id="updateOpenSubject">
		UPDATE OPEN_SUBJECT SET ENROL_TYPE = 2
		WHERE OPENSUB_CODE = #{openSubCode}
	</update>
	<update id="updateFinishOpenSubject">
		UPDATE OPEN_SUBJECT SET ENROL_TYPE = 3
		WHERE OPENSUB_CODE = #{openSubCode}
	</update>
	<select id="selectOpenSubject" resultMap="courseRegistrationResultSet">
		SELECT S.SUB_NAME, OPENSUB_CODE
		FROM OPEN_SUBJECT OS
		JOIN SUBJECT S ON (S.SUB_CODE = OS.OPENSUB_CODE)
		WHERE SDEPT_CODE = 'SD100'
		AND CLOSE_CHECK = 'N'
	</select>
	
	<select id="selectSubject1" resultMap="courseRegistrationResultSet">
		SELECT S.SUB_NAME, OPENSUB_CODE
		FROM OPEN_SUBJECT OS
		JOIN SUBJECT S ON (S.SUB_CODE = OS.OPENSUB_CODE)
		WHERE SDEPT_CODE = #{sdeptName}
		AND CLOSE_CHECK = 'N'
	</select>
	<select id="selectSubject2" resultMap="courseRegistrationResultSet">
		SELECT S.SUB_NAME, OPENSUB_CODE
		FROM OPEN_SUBJECT OS
		JOIN SUBJECT S ON (S.SUB_CODE = OS.OPENSUB_CODE)
		WHERE SDEPT_CODE = #{sdeptName}
		AND COMPLETE_TYPE = #{completeType}
		AND CLOSE_CHECK = 'N'
	</select>
	<select id="studentSelectOpenSubject" resultMap="courseRegistrationResultSet">
		SELECT OPENSUB_CODE, SUB_NAME, SDEPT_NAME, MEMBER_KNAME,
		SUB_GRADE, STUDENT_COUNT,
		COMPLETE_TYPE, STUDENT_MAX, ROOM_NAME, BUILDING_NAME, DAY_INFO, TIME_INFO
		FROM OPEN_SUBJECT OS
		JOIN SUBJECT S ON(OS.OPENSUB_CODE = S.SUB_CODE)
		JOIN SDEPARTMENT SD ON(S.SDEPT_CODE = SD.SDEPT_CODE)
		JOIN MEMBER M ON(OS.PROFESSOR_NO = M.MEMBER_ID)
		JOIN ROOM R ON(OS.ROOM_CODE = R.ROOM_CODE)
		JOIN BUILDING B ON(R.BUILDING_CODE = B.BUILDING_CODE)
        WHERE OPENSUB_CODE = #{openSubCode}
        AND CLOSE_CHECK = 'N'
	</select>
	<select id="selectSearchGwamok" resultMap="courseRegistrationResultSet">
		SELECT OPENSUB_CODE, SUB_NAME, SDEPT_NAME, MEMBER_KNAME,
		SUB_GRADE, STUDENT_COUNT,
		COMPLETE_TYPE, STUDENT_MAX, ROOM_NAME, BUILDING_NAME, DAY_INFO, TIME_INFO
		FROM OPEN_SUBJECT OS
		JOIN SUBJECT S ON(OS.OPENSUB_CODE = S.SUB_CODE)
		JOIN SDEPARTMENT SD ON(S.SDEPT_CODE = SD.SDEPT_CODE)
		JOIN MEMBER M ON(OS.PROFESSOR_NO = M.MEMBER_ID)
		JOIN ROOM R ON(OS.ROOM_CODE = R.ROOM_CODE)
		JOIN BUILDING B ON(R.BUILDING_CODE = B.BUILDING_CODE)
        WHERE SUB_NAME LIKE '%' ||  #{gwamok} || '%'
        OR OPENSUB_CODE LIKE '%' || #{gwamok} || '%'
        AND CLOSE_CHECK = 'N'
	</select>
	<select id="selectSearchProfessor" resultMap="courseRegistrationResultSet">
		SELECT MEMBER_KNAME, PROFESSOR_NO
		FROM MEMBER M
		JOIN PROFESSOR P ON (M.MEMBER_ID = P.PROFESSOR_NO)
		WHERE MEMBER_KNAME LIKE '%' ||  #{professor} || '%'
		OR PROFESSOR_NO LIKE '%' ||  #{professor} || '%'
		AND CLOSE_CHECK = 'N'
    </select>
	<select id="selectProGwamok" resultMap="courseRegistrationResultSet">
		SELECT OPENSUB_CODE, SUB_NAME
		FROM OPEN_SUBJECT
		JOIN SUBJECT ON(OPENSUB_CODE = SUB_CODE)
		WHERE PROFESSOR_NO = #{professorNo}
		AND CLOSE_CHECK = 'N'
    </select>
    <select id="selectPreliminaryCourseApplyList" resultMap="courseRegistrationResultSet">
		SELECT SA.OPENSUB_CODE, SUB_NAME, SDEPT_NAME, MEMBER_KNAME,
		SUB_GRADE, STUDENT_COUNT,
		COMPLETE_TYPE, STUDENT_MAX, ROOM_NAME, BUILDING_NAME, DAY_INFO, TIME_INFO
		FROM SUBJECT_APPLY SA
        JOIN OPEN_SUBJECT OS ON(SA.OPENSUB_CODE = OS.OPENSUB_CODE)
		JOIN SUBJECT S ON(OS.OPENSUB_CODE = S.SUB_CODE)
		JOIN SDEPARTMENT SD ON(S.SDEPT_CODE = SD.SDEPT_CODE)
		JOIN MEMBER M ON(OS.PROFESSOR_NO = M.MEMBER_ID)
		JOIN ROOM R ON(OS.ROOM_CODE = R.ROOM_CODE)
		JOIN BUILDING B ON(R.BUILDING_CODE = B.BUILDING_CODE)
        WHERE STUDENT_NO = #{studentNo}
        AND APPLY_TYPE = '예비'
        AND CLOSE_CHECK = 'N'
    </select>
    <select id="prliminaryGwamokSelect" resultMap="courseRegistrationResultSet">
		SELECT SA.OPENSUB_CODE, SUB_NAME, SDEPT_NAME, MEMBER_KNAME,
		SUB_GRADE, STUDENT_COUNT,
		COMPLETE_TYPE, STUDENT_MAX, ROOM_NAME, BUILDING_NAME, DAY_INFO, TIME_INFO
		FROM SUBJECT_APPLY SA
        JOIN OPEN_SUBJECT OS ON(SA.OPENSUB_CODE = OS.OPENSUB_CODE)
		JOIN SUBJECT S ON(OS.OPENSUB_CODE = S.SUB_CODE)
		JOIN SDEPARTMENT SD ON(S.SDEPT_CODE = SD.SDEPT_CODE)
		JOIN MEMBER M ON(OS.PROFESSOR_NO = M.MEMBER_ID)
		JOIN ROOM R ON(OS.ROOM_CODE = R.ROOM_CODE)
		JOIN BUILDING B ON(R.BUILDING_CODE = B.BUILDING_CODE)
        WHERE STUDENT_NO = #{studentNo}
        AND SUB_NAME LIKE '%' ||  #{subName} || '%'
        AND APPLY_TYPE = '예비'
        AND CLOSE_CHECK = 'N'
    </select>
    <select id="prliminaryProfessorSelect" resultMap="courseRegistrationResultSet">
		SELECT SA.OPENSUB_CODE, SUB_NAME, SDEPT_NAME, MEMBER_KNAME,
		SUB_GRADE, STUDENT_COUNT,
		COMPLETE_TYPE, STUDENT_MAX, ROOM_NAME, BUILDING_NAME, DAY_INFO, TIME_INFO
		FROM SUBJECT_APPLY SA
        JOIN OPEN_SUBJECT OS ON(SA.OPENSUB_CODE = OS.OPENSUB_CODE)
		JOIN SUBJECT S ON(OS.OPENSUB_CODE = S.SUB_CODE)
		JOIN SDEPARTMENT SD ON(S.SDEPT_CODE = SD.SDEPT_CODE)
		JOIN MEMBER M ON(OS.PROFESSOR_NO = M.MEMBER_ID)
		JOIN ROOM R ON(OS.ROOM_CODE = R.ROOM_CODE)
		JOIN BUILDING B ON(R.BUILDING_CODE = B.BUILDING_CODE)
        WHERE STUDENT_NO = #{studentNo}
        AND MEMBER_KNAME LIKE '%' ||  #{professorName} || '%'
        AND OS.ENROL_TYPE = 2
        AND APPLY_TYPE = '예비'
        AND CLOSE_CHECK = 'N'
    </select>
    <select id="prliminarySdeptSelect" resultMap="courseRegistrationResultSet">
		SELECT SA.OPENSUB_CODE, SUB_NAME, SDEPT_NAME, MEMBER_KNAME,
		SUB_GRADE, STUDENT_COUNT,
		COMPLETE_TYPE, STUDENT_MAX, ROOM_NAME, BUILDING_NAME, DAY_INFO, TIME_INFO
		FROM SUBJECT_APPLY SA
        JOIN OPEN_SUBJECT OS ON(SA.OPENSUB_CODE = OS.OPENSUB_CODE)
		JOIN SUBJECT S ON(OS.OPENSUB_CODE = S.SUB_CODE)
		JOIN SDEPARTMENT SD ON(S.SDEPT_CODE = SD.SDEPT_CODE)
		JOIN MEMBER M ON(OS.PROFESSOR_NO = M.MEMBER_ID)
		JOIN ROOM R ON(OS.ROOM_CODE = R.ROOM_CODE)
		JOIN BUILDING B ON(R.BUILDING_CODE = B.BUILDING_CODE)
        WHERE STUDENT_NO = #{studentNo}
        AND COMPLETE_TYPE LIKE '%' ||  #{completeType} || '%'
        AND APPLY_TYPE = '예비'
        AND CLOSE_CHECK = 'N'
    </select>
    <select id="selectFinishSubjectApplyList" resultMap="courseRegistrationResultSet">
		SELECT SA.OPENSUB_CODE, SUB_NAME, SDEPT_NAME, MEMBER_KNAME,
		SUB_GRADE, STUDENT_COUNT,
		COMPLETE_TYPE, STUDENT_MAX, ROOM_NAME, BUILDING_NAME, DAY_INFO, TIME_INFO
		FROM SUBJECT_APPLY SA
        JOIN OPEN_SUBJECT OS ON(SA.OPENSUB_CODE = OS.OPENSUB_CODE)
		JOIN SUBJECT S ON(OS.OPENSUB_CODE = S.SUB_CODE)
		JOIN SDEPARTMENT SD ON(S.SDEPT_CODE = SD.SDEPT_CODE)
		JOIN MEMBER M ON(OS.PROFESSOR_NO = M.MEMBER_ID)
		JOIN ROOM R ON(OS.ROOM_CODE = R.ROOM_CODE)
		JOIN BUILDING B ON(R.BUILDING_CODE = B.BUILDING_CODE)
        WHERE STUDENT_NO = #{studentNo}
        AND APPLY_TYPE = '정기'
        AND CLOSE_CHECK = 'N'
    </select>
    <select id="selectStudentCount" resultType="_int">
		SELECT STUDENT_COUNT
		FROM OPEN_SUBJECT
		WHERE OPENSUB_CODE = #{subCode}
    </select>
    <select id="selectSubGrade" resultType="_int">
		SELECT NVL(SUM(SUB_GRADE), 0)
		FROM (SELECT SUB_GRADE FROM SUBJECT_APPLY JOIN SUBJECT ON(OPENSUB_CODE = SUB_CODE) WHERE STUDENT_NO = #{studentNo})
    </select>
    <select id="selectEnrolType" resultMap="courseRegistrationResultSet">
		SELECT ENROL_TYPE
		FROM OPEN_SUBJECT
    </select>
    <select id="selectFinishOpenSubjectList" resultMap="courseRegistrationResultSet">
		SELECT OPENSUB_CODE, SUB_NAME, SDEPT_NAME, MEMBER_KNAME,
		SUB_GRADE, STUDENT_COUNT,
		COMPLETE_TYPE, STUDENT_MAX, ROOM_NAME, BUILDING_NAME, DAY_INFO, TIME_INFO
		FROM OPEN_SUBJECT OS
		JOIN SUBJECT S ON(OS.OPENSUB_CODE = S.SUB_CODE)
		JOIN SDEPARTMENT SD ON(S.SDEPT_CODE = SD.SDEPT_CODE) 
		JOIN MEMBER M ON(OS.PROFESSOR_NO = M.MEMBER_ID)
		JOIN ROOM R ON(OS.ROOM_CODE = R.ROOM_CODE)
		JOIN BUILDING B ON(R.BUILDING_CODE = B.BUILDING_CODE)
		WHERE OS.ENROL_TYPE = 3
	</select>
	<update id="updateCloseFinishOpenSubject">
		UPDATE OPEN_SUBJECT SET ENROL_TYPE = 4
		WHERE OPENSUB_CODE = #{openSubCode}
	</update>
	<select id="selectOneOpenSubject" resultMap="courseRegistrationResultSet">
		SELECT OPENSUB_CODE, SUB_NAME, SDEPT_NAME, MEMBER_KNAME, ROOM_NAME, BUILDING_NAME
        FROM OPEN_SUBJECT OS
        JOIN SUBJECT S ON (OPENSUB_CODE = SUB_CODE)
        JOIN SDEPARTMENT SD ON (S.SDEPT_CODE = SD.SDEPT_CODE)
        JOIN MEMBER ON (PROFESSOR_NO = MEMBER_ID)
        JOIN ROOM R ON (OS.ROOM_CODE = R.ROOM_CODE)
        JOIN BUILDING B ON(R.BUILDING_CODE = B.BUILDING_CODE)
        WHERE SUB_CODE = #{subCode}
	</select>
	<update id="updateSubjectDelete">
		UPDATE OPEN_SUBJECT SET ENROL_TYPE = 4, CLOSE_CHECK = 'Y', CLOSE_REASON = #{closeReason}, STUDENT_COUNT = 0
		WHERE OPENSUB_CODE = #{openSubCode}
	</update>
	<select id="selectOpenSubjectList2"
		resultMap="courseRegistrationResultSet">
		SELECT OPENSUB_CODE, SUB_NAME, SDEPT_NAME, MEMBER_KNAME,
		ROOM_NAME, BUILDING_NAME, OPEN_SEMESTER, OPEN_YEAR
		FROM OPEN_SUBJECT OS
		JOIN SUBJECT S ON(OS.OPENSUB_CODE = S.SUB_CODE)
		JOIN SDEPARTMENT SD ON(S.SDEPT_CODE = SD.SDEPT_CODE) 
		JOIN MEMBER M ON(OS.PROFESSOR_NO = M.MEMBER_ID)
		JOIN ROOM R ON(OS.ROOM_CODE = R.ROOM_CODE)
		JOIN BUILDING B ON(R.BUILDING_CODE = B.BUILDING_CODE)
		WHERE OS.ENROL_TYPE = 1
		OR OS.ENROL_TYPE = 2
		OR OS.ENROL_TYPE = 3
		OR OS.ENROL_TYPE = 4
	</select>
	<select id="selectTime"
		resultMap="courseRegistrationResultSet">
		SELECT OPENSUB_CODE, SUB_NAME, MEMBER_KNAME,
		ROOM_NAME, BUILDING_NAME, TIME_INFO, DAY_INFO
		FROM OPEN_SUBJECT OS
		JOIN SUBJECT S ON(OS.OPENSUB_CODE = S.SUB_CODE)
		JOIN SDEPARTMENT SD ON(S.SDEPT_CODE = SD.SDEPT_CODE) 
		JOIN MEMBER M ON(OS.PROFESSOR_NO = M.MEMBER_ID)
		JOIN ROOM R ON(OS.ROOM_CODE = R.ROOM_CODE)
		JOIN BUILDING B ON(R.BUILDING_CODE = B.BUILDING_CODE)
		WHERE OPENSUB_CODE = #{openSubCode}
	</select>
	
</mapper>