<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DocFile">
	<resultMap type="DocFile" id="DocFileResultSet">
		<id property="fileCode" column="FILE_CODE"/>
		<result property="oldName" column="OLD_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="path" column="PATH"/>
		<result property="type" column="TYPE"/>
		<result property="offApplyNo" column="APPLY_NO"/>
		<result property="diseaseCode" column="DISEASE_CODE"/>
		<result property="recoCode" column="RECO_CODE"/>
	</resultMap>
	
	<insert id="insertSchoolOffFile" parameterType="DocFile">
		
		INSERT INTO DOC_FILE(FILE_CODE,OLD_NAME,CHANGE_NAME,PATH,TYPE,APPLY_NO)
		VALUES('DOCF'||SEQ_DOCFILE.NEXTVAL, #{oldName}, #{changeName}, #{path}, '휴학신청','OS'||SEQ_OFFSCHOOL.CURRVAL)
	</insert>
 




</mapper>