<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dormitory">
	<resultMap type="com.kh.finalProject.dormitory.model.vo.Dormitory" id="dormitoryResultSet">
		<id property="dormitoryApplyNo" column="DORMITORY_APPLY_NO"/>
		
		<result property="sdeptName" column="SDEPT_NAME"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="dorApplyYear" column="DOR_APPLY_YEAR"/>
		<result property="dorApplySemester" column="DOR_APPLY_SEMESTER"/>
		<result property="memberKname" column="MEMBER_KNAME"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="postNum" column="POST_NUM"/>
		<result property="address" column="ADDRESS"/>
		<result property="addressDetail" column="ADDRESS_DETAIL"/>
		<result property="emerPhone" column="EMER_PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="parentPhone" column="PARENT_PHONE"/>
		<result property="parentTel" column="PARENT_TEL"/>
		<result property="bank" column="BANK"/>
		<result property="accountNo" column="ACCOUNT_NO"/>
		<result property="dormCondition" column="DORM_CONDITION"/>
		<result property="smoking" column="SMOKING"/>
		<result property="basicLife" column="BASIC_LIFE"/>
		<result property="dormitoryName" column="DORMITORY_NAME"/>
		<result property="dorApplyDate" column="DOR_APPLY_DATE"/>
		<result property="aggrementStatus" column="AGGREMENT_STATUS"/>
	</resultMap>
	
	<select id="DormitoryCheck" resultMap="dormitoryResultSet" parameterType="String">
		SELECT D.MEMBER_ID, D.DOR_APPLY_YEAR, D.DOR_APPLY_SEMESTER, D.DOR_APPLY_DATE, D.AGGREMENT_STATUS, M.MEMBER_KNAME
		FROM DORMITORY_APPLY D JOIN MEMBER M ON (D.MEMBER_ID = M.MEMBER_ID) 
		WHERE D.MEMBER_ID = #{studentNo}
	</select>
	
	<insert id="add" parameterType="Dormitory">
		INSERT INTO DORMITORY_APPLY	VALUES('dor1234', #{sdeptName}, #{memberId},SYSDATE, #{dorApplySemester}, #{memberKname}, #{memberNo}, #{postNum}
										, #{address}, #{addressDetail}, #{emerPhone}, #{email}, #{parentPhone}
										, null, #{bank}, #{accountNo}, #{dormCondition}
										, #{smoking}, #{basicLife}, #{dormitoryName}, SYSDATE
										, '신청')
	</insert>
</mapper>