<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Enrollment">
	<resultMap type="com.kh.finalProject.enrollment.model.vo.Enrollment" id="enrollmentResultSet">
		<id property="enrollSemester" column="ENROLL_SEMESTER"/>
		<id property="studentNo" column="STUDENT_NO"/>
		
		<result property="enrollYear" column="ENROLL_YEAR"/>
		<result property="tuition" column="TUITION"/>
		<result property="schoAmount" column="SCHO_AMOUNT"/>
	</resultMap>
	
	<select id="EnrollmentCheck" resultMap="enrollmentResultSet" parameterType="String">
		SELECT E.STUDENT_NO, E.ENROLL_SEMESTER, E.TUITION, E.ENROLL_YEAR, E.PAY_STATUS, E.PAY_AMOUNT, S.SCHO_AMOUNT
		FROM ENROLLMENT E JOIN SCHOLARSHIP S ON(E.STUDENT_NO = S.STUDENT_NO)
		WHERE E.STUDENT_NO = #{studentNo}
	</select>
</mapper>