<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Explusion">    
  	
  	<resultMap type="Explusion" id="explusionResultSet">
  		<id property="explusionNo" column="EXPLUSION_NO"/>
  		<result property="explusionDate" column="EXPLUSION_DATE"/>
  		<result property="explusionReason" column="EXPLUSION_REASON"/>
  		<result property="studentNo" column="STUDENT_NO"/>
  		<result property="collegeCode" column="COLLEGE_CODE"/>
  		<result property="collegeName" column="COLLEGE_NAME"/>
  		<result property="sdeptCode" column="SDEPT_CODE"/>
  		<result property="sdeptName" column="SDEPT_NAME"/>
  		<result property="grade" column="GRADE"/> 
  		<result property="memberKName" column="MEMBER_KNAME"/> 
  	</resultMap> 	
  	
	  	 
  	 
  </mapper>
  
  
  
  
  
  
  
  
  
  
  