<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UploadFile">
	<resultMap type="com.kh.finalProject.board.model.vo.UploadFile" id="fileResultSet">
		<id property="fileCode" column="FILE_CODE"/>
		<result property="boardNo" column="BOARD_NO"/>
		<result property="oldName" column="OLD_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="path" column="PATH"/>
	</resultMap>
	
	<insert id="insertNoticeFile">
		INSERT INTO UPLOAD_FILE
		VALUES(SEQ_FILECODE.NEXTVAL, SEQ_BOARDNO.CURRVAL, #{oldName}, #{changeName}, #{path})
	</insert>	
	
	<select id="selectUploadFile" resultMap="fileResultSet" parameterType="_int">
		SELECT *
		FROM UPLOAD_FILE
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<update id="updatenNoticeFile">
		UPDATE UPLOAD_FILE 
		SET OLD_NAME = #{oldName}, CHANGE_NAME = #{changeName}, PATH = #{path} 
		WHERE BOARD_NO = #{boardNo}
	</update>	
	
	<update id="updatesNoticeFile">
		UPDATE UPLOAD_FILE 
		SET OLD_NAME = #{oldName}, CHANGE_NAME = #{changeName}, PATH = #{path} 
		WHERE BOARD_NO = #{boardNo}
	</update>	
	
	<update id="updateacNoticeFile">
		UPDATE UPLOAD_FILE 
		SET OLD_NAME = #{oldName}, CHANGE_NAME = #{changeName}, PATH = #{path} 
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="updateeNoticeFile">
		UPDATE UPLOAD_FILE 
		SET OLD_NAME = #{oldName}, CHANGE_NAME = #{changeName}, PATH = #{path} 
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	
	
	<insert id="insertfreeBoardFile">
		INSERT INTO UPLOAD_FILE
		VALUES(SEQ_FILECODE.NEXTVAL, SEQ_BOARDNO.CURRVAL, #{oldName}, #{changeName}, #{path})
	</insert>	
	
	<update id="updatefreeBoardFile">
		UPDATE UPLOAD_FILE 
		SET OLD_NAME = #{oldName}, CHANGE_NAME = #{changeName}, PATH = #{path} 
		WHERE BOARD_NO = #{boardNo}
	</update>
</mapper>