<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Graduation">
  <resultMap type="Graduation" id="graduationResultSet">
  	<id property="studentNo" column="STUDENT_NO"/>
  	<id property="graduationCode" column="GRADUATION_CODE"/>
  	<result property="sDeptCode" column="SDEPT_CODE"/>
  	<result property="division" column="SDEPT_CODE"/>
  		<result property="graduationName" column="GRADUATION_NAME"/>
  		<result property="graduationContent" column="GRADUATION_CONTENT"/>
  		<result property="check" column="GRADUATION_CHECK"/> 
  		<result property="graduationInfo" column="GRADUATION_INFO"/>
  		<result property="sdeptName" column="SDEPT_NAME"/> 
  		<result property="college" column="COLLEGE_NAME"/>
  </resultMap>
  
  <select id="selectGraduationCondition" resultMap="graduationResultSet">
  	SELECT M.SDEPT_CODE, C.GRADUATION_NAME, M.GRADUATION_CHECK, M.GRADUATION_INFO
  	FROM GRADURATION_MANAGE M
  	LEFT JOIN GRADURATION_CRITERIA C ON(M.GRADUATION_CODE=C.GRADUATION_CODE)
  	WHERE STUDENT_NO=#{studentNo} 
  </select> 
  
  <select id="selectGraduationSchool" resultMap="graduationResultSet">
  	SELECT SDEPT_CODE, GRADUATION_NAME, GRADUATION_CONTENT, GRADUATION_CODE
  	FROM GRADURATION_CRITERIA 
  	WHERE SDEPT_CODE='SD100' 
  </select>
  
  <select id="selectGraduationScDetail" resultMap="graduationResultSet">
  	SELECT *
  	FROM GRADURATION_CRITERIA 
  	WHERE GRADUATION_CODE=#{graduationCode}
  </select>
  
  <select id="selectGraduationMajor" resultMap="graduationResultSet">
    SELECT G.SDEPT_CODE, G.GRADUATION_NAME, G.GRADUATION_CONTENT, G.GRADUATION_CODE,
  		 S.SDEPT_NAME, C.COLLEGE_NAME
  	FROM GRADURATION_CRITERIA G
  	LEFT JOIN SDEPARTMENT S ON(G.SDEPT_CODE=S.SDEPT_CODE)
  	LEFT JOIN COLLEGE C ON(S.COLLEGE_CODE=C.COLLEGE_CODE)
  	WHERE G.SDEPT_CODE !='SD100' 
  </select>
  
  <select id="selectGraduationMaDetail" resultMap="graduationResultSet">
  	SELECT G.SDEPT_CODE, G.GRADUATION_NAME, G.GRADUATION_CONTENT, G.GRADUATION_CODE,
  		   S.SDEPT_NAME
  	FROM GRADURATION_CRITERIA G
  	LEFT JOIN SDEPARTMENT S ON(G.SDEPT_CODE=S.SDEPT_CODE)
  	WHERE GRADUATION_CODE=#{graduationCode}
  </select>
  
</mapper>