<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Graduation">
  <resultMap type="Graduation" id="graduationResultSet">
  	<id property="graduationCode" column="GRADUATION_CODE"/>
  	<result property="sDeptCode" column="SDEPT_CODE"/>
  		<result property="graduationName" column="GRADUATION_NAME"/>
  		<result property="graduationContent" column="GRADUATION_CONTENT"/>
  		<result property="check" column="GRADUATION_CHECK"/> 
  		<result property="graduationInfo" column="GRADUATION_INFO"/>
  </resultMap>
  
</mapper>