<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
	<resultMap type="com.kh.finalProject.member.model.vo.Member" id="memberResultSet">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberKName" column="MEMBER_KNAME"/>
		<result property="memberEName" column="MEMBER_ENAME"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="address" column="ADDRESS"/>
		<result property="memberStatus" column="MEMBER_CHECK"/>
		<result property="loginCheck" column="LOGIN_CHECK"/>
	</resultMap>
	<!-- 로그인 체크  -->
	<select id="loginCheck" resultMap="memberResultSet" parameterType="Member">
		SELECT *
		FROM MEMBER 
		WHERE MEMBER_ID=#{memberId}
		AND MEMBER_PWD = #{memberPwd}
	</select>
	<update id="upDateLoginCheck" parameterType="Member">
		UPDATE MEMBER 
		SET LOGIN_CHECK='1' 
		WHERE MEMBER_ID=#{memberId}
	</update>
	<update id="upDateLooutCheck" parameterType="Member">
		UPDATE MEMBER 
		SET LOGIN_CHECK='0' 
		WHERE MEMBER_ID=#{memberId}
	</update>
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER VALUES(
			#{memberId},#{memberPwd},#{memberKName},#{memberEName},#{memberNo},#{phone},#{email},#{address},#{loginCheck},#{memberStatus}
		)	
	</insert>
	<insert id="insertStudentInfo" parameterType="Member">
		INSERT INTO STUDENT_INFO(STUDENT_NO,STUDENT_STATUS,SDEPT_CODE,GRADE,SECOND_MAJOR,AVG_SCORE,GRADUATED_DATE,DEGREE_NO,DEGREE_NAME,GRADUATED_NO,BANK,ACCOUNT_NO) VALUES(
		 #{memberId},'재학생', #{sdeptCode}, 1, DEFAULT, 0.0, NULL, NULL, NULL, NULL, #{bank}, #{bankNumber}
		)

	</insert>
	<insert id="insertProfessorInfo" parameterType="Member">
		INSERT INTO PROFESSOR VALUES(
			#{memberId},#{sdeptCode}
		)
	</insert>
	<insert id="insertEmployeeInfo" parameterType="Member">
		INSERT INTO EMPLOYEE VALUES(
			#{rankCode},#{memberId},#{sdeptCode}
		)		
	</insert>
	<select id="memberFindId" resultMap="memberResultSet" parameterType="Member">
		SELECT * FROM
		MEMBER 
		WHERE MEMBER_NO LIKE '%'||#{memberNo}||'%'
		AND MEMBER_CHECK = #{memberStatus}
		AND MEMBER_KNAME = #{memberKName}
	</select>
	<select id ="memberFidPwd" resultMap="memberResultSet" parameterType="Member">
		SELECT * FROM
		MEMBER 
		WHERE MEMBER_ID =#{memberId}
		AND MEMBER_CHECK=#{memberStatus}	
	</select>
	<update id="memberchangeNewPassword" parameterType="Member">
		UPDATE MEMBER SET MEMBER_PWD=#{memberPwd}
		WHERE MEMBER_ID =#{memberId}
	</update>
	<select id="MemberAllList" resultMap="memberResultSet">
		SELECT *FROM 
		MEMBER
		WHERE MEMBER_ID != #{memberId}
		ORDER BY MEMBER_CHECK DESC
	</select>
	<select id="MemberListCount" resultType="_int">
		SELECT COUNT(MEMBER_ID)
		FROM 
		MEMBER
		WHERE MEMBER_ID != #{memberId}
	</select>
</mapper>