<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Proof">
	<resultMap type="com.kh.finalProject.proof.model.vo.Proof" id="proofResultSet">
		<id property="certiCode" column="CERTI_CODE"/>
		<result property="certiName" column="CERTI_NAME"/>
		<result property="printCode" column="PRINT_CODE"/>
		<result property="printDate" column="PRINT_DATE"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="printCount" column="PRINT_COUNT"/>
		<result property="printStatus" column="PRINT_STATUS"/>
		<result property="memberKName" column="MEMBER_KNAME"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="enrollDate" column="ENROL_DATE"/>
		<result property="graduatedDate" column="GRADUATED_DATE"/>
		<result property="degreeNo" column="DEGREE_NO"/>
		<result property="degreeName" column="DEGREE_NAME"/>
		<result property="graduatedNo" column="GRADUATED_NO"/>
	</resultMap>
	
	<select id="selectProofList" resultMap="proofResultSet">
		SELECT *
		FROM CERTIFICATE
	</select>	
	
	<insert id="insertProofPrint">
		INSERT INTO CERTIFICATE_PRINT
		VALUES(SYSDATE, #{certiCode}, #{memberId}, 'CERP'||SEQ_CERTIFICATEPRINT.NEXTVAL, #{printCount}, DEFAULT)
	</insert>
	
	<select id="selectProofPrintList" resultMap="proofResultSet">
		SELECT *
		FROM CERTIFICATE C
		JOIN CERTIFICATE_PRINT P ON(C.CERTI_CODE = P.CERTI_CODE)
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectProofInfo" resultMap="proofResultSet">
		SELECT *
		FROM MEMBER M
		JOIN STUDENT_INFO S ON(S.STUDENT_NO = M.MEMBER_ID)
		JOIN CERTIFICATE_PRINT C ON(S.STUDENT_NO = C.MEMBER_ID)
		WHERE M.MEMBER_ID = #{memberId} AND PRINT_CODE = #{printCode}
	</select>
	
	<update id="updatePrintStatus">
		UPDATE CERTIFICATE_PRINT
		SET PRINT_STATUS = 'Y'
		WHERE PRINT_CODE = #{printCode}
	</update>
</mapper>