<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Scholarship">
	<resultMap type="com.kh.finalProject.scholarship.model.vo.Scholarship" id="scholarshipResultSet">
		<id property="schoSemester" column="SCHO_SEMESTER"/>
		<id property="studentNo" column="STUDENT_NO"/>
		<id property="schoApplyCode" column="SCHO_APPLY_CODE"/>
		
		<result property="schoAmount" column="SCHO_AMOUNT"/>
		<result property="schoType" column="SCHO_TYPE"/>
		
		
		<result property="schoStatus" column="SCHO_STATUS"/>
		<result property="schoYear" column="SCHO_YEAR"/>
		<result property="memberKname" column="MEMBER_KNAME"/>
		<result property="sdeptName" column="SDEPT_NAME"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="schoApplyName" column="SCHO_APPLY_NAME"/>
		<result property="schoApplyYn" column="SCHO_APPLY_YN"/>
		<result property="schoApplyDate" column="SCHO_APPLY_DATE"/>
		<result property="schoAggrementDate" column="SCHO_AGGREMENT_DATE"/>
	</resultMap>
	
	<select id="beforeScholarshipApplyInfo" resultMap="scholarshipResultSet" parameterType="String">
		SELECT *
		FROM SCHO_APPLY
		WHERE STUDENT_NO = #{studentNo}
	</select>
	
	<select id="ScholarshipCheck" resultMap="scholarshipResultSet" parameterType="String">
		SELECT *
		FROM SCHOLARSHIP S JOIN SCHO_APPLY SA ON (S.SCHO_APPLY_CODE = SA.SCHO_APPLY_CODE)
		WHERE STUDENT_NO = #{studentNo}
	</select>
	
	<!-- <resultMap type="com.kh.finalProject.scholarship.model.vo.ScholarshipApply" id="scholarshipApplyResultSet">
		<id property="schoApplyCode" column="SCHO_APPLY_CODE"/>
		
		<result property="schoStatus" column="SCHO_STATUS"/>
		<result property="schoYear" column="SCHO_YEAR"/>
		<result property="schoSemester" column="SCHO_SEMESTER"/>
		<result property="studentId" column="MEMBER_ID"/>
		<result property="memberKname" column="MEMBER_KNAME"/>
		<result property="sdeptCode" column="SDEPT_CODE"/>
		<result property="sdeptName" column="SDEPT_NAME"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="schoApplyName" column="SCHO_APPLY_NAME"/>
		<result property="schoApplyYn" column="SCHO_APPLY_YN"/>
		<result property="schoApplyDate" column="SCHO_APPLY_DATE"/>
		<result property="schoAggrementDate" column="SCHO_AGGREMENT_DATE"/>
	</resultMap> -->
	
	<select id="showScholarshipApplyView" resultMap="scholarshipResultSet" parameterType="String">
		SELECT *
		FROM SCHOLARSHIP S JOIN SCHO_APPLY SA ON (S.SCHO_APPLY_CODE = SA.SCHO_APPLY_CODE)
		WHERE STUDENT_NO = #{studentNo}
	</select>
	
	<insert id="add" parameterType="Scholarship">
		INSERT INTO SCHO_APPLY VALUES ('shcho1234', '신청', 2019, 2, '이청용', '컴퓨터학과', '남', '성적장학금', 'Y', SYSDATE, SYSDATE, #{studentNo})
	</insert>
</mapper>