<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Sdepartment">
	<resultMap
		type="com.kh.finalProject.student.classmanagement.model.vo.Sdepartment"
		id="sdepartmentResultSet">
		<id property="sdeptCode" column="SDEPT_CODE" />
		<result property="sdeptName" column="SDEPT_NAME" />
		<result property="collegeCode" column="COLLEGE_CODE" />
	</resultMap>
	
	
	<select id="selectSdept" resultMap="sdepartmentResultSet">
		SELECT * FROM SDEPARTMENT
	</select>


	
</mapper>