<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="SecondMajor">
    
  	<resultMap type="SecondMajor" id="secondMajorResultSet">
  		<id property="applyCode" column="APPLY_CODE"/>
  		<result property="majorCheck" column="MAJOR_CHECK"/>
  		<result property="majorStatus" column="MAJOR_STATUS"/>
  		<result property="studentNo" column="STUDENT_NO"/>
  		<result property="sdeptCode" column="SDEPT_CODE"/>
  		<result property="applyDate" column="APPLY_DATE"/>
  		<result property="sdeptName" column="SDEPT_NAME"/>
  		<result property="collegeCode" column="COLLEGE_CODE"/>
  		<result property="collegeName" column="COLLEGE_NAME"/> 
  	</resultMap>
  	
  	<insert id="insertSecondMajor">
		INSERT INTO SECOND_MAJOR (APPLY_CODE, MAJOR_CHECK, MAJOR_STATUS, STUDENT_NO, SDEPT_CODE, APPLY_DATE)
		VALUES ('SM'||SEQ_SECONDMAJOR.NEXTVAL, #{majorCheck}, DEFAULT, #{studentNo}, 
		       (SELECT SDEPT_CODE
		       FROM COLLEGE C
		       JOIN SDEPARTMENT S ON(C.COLLEGE_CODE = S.COLLEGE_CODE)
      		   WHERE S.SDEPT_NAME = #{sdeptName}), 
      		   SYSDATE)
	</insert>	
	
	<select id="selectSecondMajor" resultMap="secondMajorResultSet">
		SELECT M.APPLY_CODE, M.MAJOR_CHECK, M.MAJOR_STATUS, M.STUDENT_NO, M.SDEPT_CODE, M.APPLY_DATE, S.SDEPT_NAME, C.COLLEGE_CODE, C.COLLEGE_NAME
		FROM SECOND_MAJOR M
		JOIN SDEPARTMENT S ON(M.SDEPT_CODE = S.SDEPT_CODE)
		JOIN COLLEGE C ON(C.COLLEGE_CODE = S.COLLEGE_CODE)
		JOIN STUDENT_INFO I ON(M.STUDENT_NO = I.STUDENT_NO)
		WHERE M.STUDENT_NO = #{studentNo}
	</select>
	
	<select id="selectSecondMajor2" resultMap="secondMajorResultSet">
		SELECT M.APPLY_CODE, M.MAJOR_CHECK, M.MAJOR_STATUS, M.STUDENT_NO, M.SDEPT_CODE, M.APPLY_DATE, S.SDEPT_NAME, C.COLLEGE_CODE, C.COLLEGE_NAME
		FROM SECOND_MAJOR M
		JOIN SDEPARTMENT S ON(M.SDEPT_CODE = S.SDEPT_CODE)
		JOIN COLLEGE C ON(C.COLLEGE_CODE = S.COLLEGE_CODE)
		JOIN STUDENT_INFO I ON(M.STUDENT_NO = I.STUDENT_NO)
		WHERE M.STUDENT_NO = #{userId}
	</select>
  	 
  	 
  </mapper>
  
  
  
  
  
  
  
  
  
  
  