<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="StudentInfo">
  
  	<resultMap type="StudentInfo" id="studentInfoResultSet">
  		<id property="studentNo" column="MEMBER_ID"/>
  		<result property="kName" column="MEMBER_KNAME"/>
  		<result property="eName" column="MEMBER_ENAME"/>
  		<result property="memberNo" column="MEMBER_NO"/>
  		<result property="phone" column="PHONE_ONE"/>
  		<result property="phone2" column="PHONE_TWO"/>
  		<result property="email" column="EMAIL"/>
  		<result property="address" column="ADDRESS"/>
  		<result property="studentStatus" column="STUDENT_STATUS"/>
  		<result property="college" column="COLLEGE_NAME"/>
  		<result property="sdeptName" column="SDEPT_NAME"/> 
  		<result property="grade" column="GRADE"/>
  		<result property="enrolType" column="ENROL_TYPE"/>
  		<result property="enrolDate" column="ENROL_DATE"/>
  		<result property="enroleGrade" column="ENROL_GRADE"/>
  		<result property="enrolNo" column="ENROL_NO"/>
  		<result property="secondMajor" column="SECOND_MAJOR"/>
  		<result property="avgScore" column="AVG_SCORE"/>
  		<result property="graduatedDate" column="GRADUATED_DATE"/>
  		<result property="degreeNo" column="DEGREE_NO"/>
  		<result property="degreeName" column="DEGREE_NAME"/>
  		<result property="graduatedNo" column="GRADUATED_NO"/>
  		<result property="bank" column="BANK"/>
  		<result property="accountNo" column="ACCOUNT_NO"/>
  		<result property="accountHolder" column="ACCOUNT_HOLDER"/>
  		<result property="parentsName" column="PARENTS_NAME"/> 
  		<result property="parentsRelation" column="PARENTS_RELATION"/>
  		<result property="parentsPhone" column="PARENTS_PHONE"/>
  		<result property="parentsAddress" column="PARENTS_ADDRESS"/>
  	</resultMap>
  	
  	
  	<!-- 학생_학적조회/기본정보 -->
  	<select id="selectBasicInfo" resultMap="studentInfoResultSet">
  		SELECT M.MEMBER_ID, M.MEMBER_KNAME, M.MEMBER_ENAME, M.MEMBER_NO,
       		   D.SDEPT_NAME, S.GRADE, S.STUDENT_STATUS
		FROM STUDENT_INFO S
		LEFT JOIN MEMBER M ON(S.STUDENT_NO=M.MEMBER_ID)
		LEFT JOIN SDEPARTMENT D ON(S.SDEPT_CODE=D.SDEPT_CODE)
		WHERE S.STUDENT_NO=#{studentNo}
  	</select>
  	
  	<!-- 학생_학적조회/학적정보-->
  	<select id="selectStuInfo" resultMap="studentInfoResultSet">
  		SELECT S.ENROL_TYPE, S.ENROL_DATE, S.ENROL_GRADE, S.ENROL_NO,
       		   S.GRADUATED_DATE,S.DEGREE_NO,S.DEGREE_NAME,S.GRADUATED_NO
		FROM STUDENT_INFO S
		LEFT JOIN MEMBER M ON(S.STUDENT_NO=M.MEMBER_ID)
		LEFT JOIN SDEPARTMENT D ON(S.SDEPT_CODE=D.SDEPT_CODE)
		WHERE S.STUDENT_NO=#{studentNo} 
  	</select> 
  	
  	<!-- 학생_학적정보/신상정보관리 -->
  	<select id="personInfoManage" resultMap="studentInfoResultSet">
  		SELECT M.MEMBER_ID, M.MEMBER_KNAME, M.MEMBER_ENAME, M.MEMBER_NO,
       		   D.SDEPT_NAME, S.GRADE, S.STUDENT_STATUS,
       		   M.ADDRESS, M.EMAIL, M.PHONE_ONE, M.PHONE_TWO, 
       		   S.BANK, S.ACCOUNT_NO,S.ACCOUNT_HOLDER,
       		   P.PARENTS_NAME, P.PARENTS_RELATION, P.PARENTS_PHONE, P.PARENTS_ADDRESS
		FROM STUDENT_INFO S
		LEFT JOIN MEMBER M ON(S.STUDENT_NO=M.MEMBER_ID)
		LEFT JOIN SDEPARTMENT D ON(S.SDEPT_CODE=D.SDEPT_CODE)
		LEFT JOIN PARENTS_INFO P ON(S.STUDENT_NO=P.STUDENT_NO)
		WHERE S.STUDENT_NO=#{studentNo}
  	</select>
  	
  	
  	<!-- 교직원_학생정보 게시글 수 조회 -->
  	<select id="selectListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM STUDENT_INFO
  	</select>
  	
  	<!-- 교직원_학생정보 조회 페이징후 -->
  	<select id="selectStudentList" resultMap="studentInfoResultSet">
  		SELECT C.COLLEGE_NAME, D.SDEPT_NAME, S.GRADE, M.MEMBER_ID,
       	   	   M.MEMBER_KNAME, S.STUDENT_STATUS
		FROM STUDENT_INFO S
		LEFT JOIN MEMBER M ON(S.STUDENT_NO=M.MEMBER_ID)
		LEFT JOIN SDEPARTMENT D ON(S.SDEPT_CODE=D.SDEPT_CODE)
		LEFT JOIN COLLEGE C ON(D.COLLEGE_CODE=C.COLLEGE_CODE)
  	</select>
  	
  	<!-- 교직원_학생정보 조회 필터링페이징 -->
  	<select id="selectFilterListCount" resultType="_int" parameterType="FilterCondition">
  		SELECT COUNT(*)
  		FROM STUDENT_INFO S
  		LEFT JOIN MEMBER M ON(S.STUDENT_NO=M.MEMBER_ID)
  		LEFT JOIN SDEPARTMENT D ON(S.SDEPT_CODE=D.SDEPT_CODE)
		LEFT JOIN COLLEGE C ON(D.COLLEGE_CODE=C.COLLEGE_CODE)
		<where>
			<if test = "college != '단과대학'">
				COLLEGE_NAME = #{college}
			</if> 
			<if test = "sdeptName != '학과'">
				AND SDEPT_NAME = #{sdeptName}
			</if>
			<if test = "grade != '학년'">
				AND GRADE= #{grade}
			</if>
			<if test = "studentStatus != '학적상태'">
				AND STUDENT_STATUS= #{studentStatus}
			</if>
		</where>
  	</select>
  	
  	<select id="selectFilterStudent" resultMap="studentInfoResultSet" parameterType="FilterCondition">
  		SELECT C.COLLEGE_NAME, D.SDEPT_NAME, S.GRADE, M.MEMBER_ID,
       	   	   M.MEMBER_KNAME, S.STUDENT_STATUS
		FROM STUDENT_INFO S
		LEFT JOIN MEMBER M ON(S.STUDENT_NO=M.MEMBER_ID)
		LEFT JOIN SDEPARTMENT D ON(S.SDEPT_CODE=D.SDEPT_CODE)
		LEFT JOIN COLLEGE C ON(D.COLLEGE_CODE=C.COLLEGE_CODE)
		<where>
			<if test = "college != '단과대학'">
				COLLEGE_NAME = #{college}
			</if> 
			<if test = "sdeptName != '학과'">
				AND SDEPT_NAME= #{sdeptName}
			</if>
			<if test = "grade != '학년'">
				AND GRADE= #{grade}
			</if>
			<if test = "studentStatus != '학적상태'">
				AND STUDENT_STATUS= #{studentStatus}
			</if>
		</where>
  	</select>
  	
  	<select id="selectCollege" resultMap="studentInfoResultSet">
  	SELECT SDEPT_NAME
	FROM SDEPARTMENT S
	LEFT JOIN COLLEGE C ON(S.COLLEGE_CODE=C.COLLEGE_CODE)
	WHERE C.COLLEGE_NAME = #{college}	
  	</select>
  	
  	<select id="selectCollegeAll" resultMap="studentInfoResultSet">
  	SELECT SDEPT_NAME
	FROM SDEPARTMENT 
	WHERE SDEPT_NAME != '교양학과'
  	</select>
  	
  	<select id="selectCollegeList" resultMap="studentInfoResultSet">
  	SELECT COLLEGE_NAME
  	FROM COLLEGE
  	WHERE COLLEGE_NAME != '교양학부'
  	</select>
  	 
  	 <select id="selectSdeptList" resultMap="studentInfoResultSet">
  	SELECT SDEPT_NAME
	FROM SDEPARTMENT 
	WHERE SDEPT_NAME != '교양학과'
  	</select>
  	 
  	 
  </mapper>
  
  
  
  
  
  
  
  
  
  
  