<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="subjectApply">
	<resultMap
		type="com.kh.finalProject.student.classmanagement.model.vo.SubjectApply"
		id="subjectApplyResultSet">
		<id property="openSubCode" column="OPENSUB_CODE" />
		<result property="subApplyCode" column="SUBAPPLY_CODE" />
		<result property="studentNo" column="STUDENT_NO" />
		<result property="applyType" column="APPLY_TYPE" />
		<result property="applyDate" column="APPLY_TYPE" />
		<result property="doneType" column="DONE_TYPE" />
	</resultMap>
	<select id="selectMySugang" resultMap="subjectApplyResultSet">
		SELECT STUDENT_NO, OPENSUB_CODE
		FROM SUBJECT_APPLY
		WHERE STUDENT_NO = #{studentNo}
	</select>
	<insert id="insertCourseApply" parameterType="SubjectApply">
		INSERT INTO SUBJECT_APPLY VALUES(#{openSubCode}, 'SUBA' || SEQ_SUBAPPLY.NEXTVAL, #{studentNo}, '예비', SYSDATE,'신청')
	</insert>
	<delete id="deleteCourseApply">
	    DELETE FROM SUBJECT_APPLY 
		WHERE STUDENT_NO = #{studentNo} 
		AND OPENSUB_CODE = #{openSubCode}
		AND APPLY_TYPE = '예비'
    </delete>
    <insert id="insertFinishSubjectApply" parameterType="SubjectApply">
		INSERT INTO SUBJECT_APPLY VALUES(#{openSubCode}, 'SUBA' || SEQ_SUBAPPLY.NEXTVAL, #{studentNo}, '정기', SYSDATE,'신청')
	</insert>
	<update id="updateFinishSubjectApply">
		UPDATE SUBJECT_APPLY SET APPLY_TYPE = '정기'
		WHERE OPENSUB_CODE = #{openSubCode}
		AND STUDENT_NO = #{studentNo}
	</update>
	<update id="updateDoneType">
		UPDATE SUBJECT_APPLY SET DONE_TYPE = '완료'
		WHERE DONE_TYPE = '신청'
		AND APPLY_TYPE = '정기'
	</update>
	<select id="selectUpdateList" resultMap="subjectApplyResultSet">
		SELECT SUBAPPLY_CODE, APPLY_TYPE, DONE_TYPE, STUDENT_NO
		FROM SUBJECT_APPLY
		WHERE APPLY_TYPE = '정기'
        AND DONE_TYPE ='신청'
	</select>
	<delete id="deleteCloseSubjectApply">
	    DELETE FROM SUBJECT_APPLY 
		WHERE APPLY_TYPE = '예비'
    </delete>
    <delete id="updateSubjectDelete">
	    DELETE FROM SUBJECT_APPLY 
		WHERE OPENSUB_CODE = #{openSubCode}
		AND DONE_TYPE = '신청'
    </delete>
    <select id="selectList" resultMap="subjectApplyResultSet">
		SELECT * FROM SUBJECT_APPLY 
		WHERE OPENSUB_CODE = #{openSubCode}
	</select>
    <select id="selectMySugang2" resultMap="subjectApplyResultSet">
		SELECT STUDENT_NO, OPENSUB_CODE
		FROM SUBJECT_APPLY
		WHERE STUDENT_NO = #{studentNo}
		AND DONE_TYPE ='완료'
	</select>
</mapper> 