<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.finalProject.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.finalProject.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.finalProject.board.model.vo.Writer" alias="Writer"/>
		<typeAlias type="com.kh.finalProject.board.model.vo.UploadFile" alias="UploadFile"/>
		<typeAlias type="com.kh.finalProject.studentInfo.model.vo.StudentInfo" alias="StudentInfo"/>
		<typeAlias type="com.kh.finalProject.employee.classManagement.model.vo.LectureOpen" alias="LectureOpen"/>
		<typeAlias type="com.kh.finalProject.employee.classManagement.model.vo.DepartmentProfessor" alias="DepartmentProfessor"/>
		<typeAlias type="com.kh.finalProject.enrollment.model.vo.Enrollment" alias="Enrollment"/>
		<typeAlias type="com.kh.finalProject.scholarship.model.vo.Scholarship" alias="Scholarship"/>
		<typeAlias type="com.kh.finalProject.dormitory.model.vo.Dormitory" alias="Dormitory"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/writer-mapper.xml"/>
		<mapper resource="mappers/file-mapper.xml"/>
		<mapper resource="mappers/studentInfo-mapper.xml"/>
		<mapper resource="mappers/lectureOpen-mapper.xml"/>
		<mapper resource="mappers/lectureprofessor-mapper.xml"/>
		<mapper resource="mappers/enrollment-mapper.xml"/>
		<mapper resource="mappers/scholarship-mapper.xml"/>
		<mapper resource="mappers/dormitory-mapper.xml"/>
	</mappers>
	
</configuration>